body{background-image: url("https://img.freepik.com/free-vector/modern-abstract-dark-violate-pink-background_84443-2784.jpg?semt=ais_hybrid&w=740&q=80");
background-repeat: no-repeat;
background-size: cover;
color: white;
}
.l{
    border-radius: 5px;
}

.b{text-align: center;
font-size: 40px;
color: white;

}
.th{background-color: darkkhaki;}
.tr1{background-color: hotpink;}
.tr{background-color: rgb(0, 102, 255);}
.tr2{background-color: rgb(87, 87, 255);}
